.test {
  & .nesting {
    color: red;
  }
}

:root {
  --first-dark-color: #323947;
  --second-dark-color: #3b4354;
  --third-dark-color: #51596b;

  --first-light-color: #d3bc8e;
  --first-light-color-alpha25: #d3bc8e40;
  --first-light-color-alpha50: #d3bc8e80;
  --second-light-color: #ece5d7;
  --third-light-color: #fcfbfa;
  --third-light-75-color: #fcfbfabf;
  --first-complementary-color: #a68074;

  --white-color: #fbfbfb;
  --gray-light-color: #eeeeee;
  --gray-color: #bbbbbb;
  --gray-dark-color: #888888;
  --black-color: #222222;
  --black-alpha-color: #222222bf;

  --link-color: #41d1c0;
  --first-text-dark-color: #323947;
  --second-text-dark-color: #3b4354;
  --first-text-light-color: #ece5d7;
  --second-text-light-color: #d3bc8e;

  --gold-dark-color: #976942;
  --gold-light-color: #d28a4c;

  --purple-dark-color: #695f98;
  --purple-light-color: #bb83d5;

  --blue-dark-color: #687799;
  --blue-light-color: #6baacb;

  --green-dark-color: #617b72;
  --green-light-color: #6cac8b;

  --gray-dark-color: #75777b;
  --gray-light-color: #a2a0a1;

  --colab-dark-color: #74454a;
  --colab-light-color: #b05b51;

  --font: "Raleway", sans-serif;

  --max-width: 64em;
  --header-height: 3.75rem;
}

main {
  visibility: hidden;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--font);
  scroll-behavior: smooth;
  scrollbar-width: none;
  scrollbar-color: var(--first-light-color) rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body,
figure {
  margin: 0;
}

a {
  color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
  line-height: 1rem;
  margin: 0;
}

/* *************** Font Sizes *************** */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8125rem;
}

h6,
small {
  font-size: 0.6875rem;
}

.compact {
  font-size: 0.75rem;
}

.h5-regular {
  font-size: 0.8125rem;
}

/* *************** Background and Font Color *************** */

.dark-text {
  color: var(--black-color);
}

.color-os {
  background-color: var(--second-dark-color);
}

.color-light {
  background-color: var(--third-light-color);
}

/* ***** Light & default mode ***** */

.color-os .bg-fst,
.color-light .bg-fst {
  background-color: var(--first-light-color);
  transition: background-color 0.25s ease-in;
}

.color-os .bg-snd,
.color-light .bg-snd {
  background-color: var(--second-light-color);
  transition: background-color 0.25s ease-in;
}

.color-os .bg-trd,
.color-light .bg-trd {
  background-color: var(--third-light-color);
  transition: background-color 0.25s ease-in;
}

.color-os .bg-snd-dark,
.color-light .bg-snd-dark {
  background-color: var(--first-dark-color);
  transition: background-color 0.25s ease-in;
}

.color-os .frst-text,
.color-light .frst-text {
  color: var(--first-text-dark-color);
  transition:
    color 0.25s ease-in,
    background-color 0.25s ease-in,
    fill 0.25s ease-in;
}

.color-os .scnd-text,
.color-light .scnd-text {
  color: var(--second-text-dark-color);
  transition:
    color 0.25s ease-in,
    background-color 0.25s ease-in,
    fill 0.25s ease-in;
}

/* ***** Dark mode ***** */

.color-dark {
  background-color: var(--second-dark-color);
  transition: background-color 0.25s ease-in;
}

.color-dark .bg-fst {
  background-color: var(--first-light-color);
  transition: background-color 0.25s ease-in;
}

.color-dark .bg-snd {
  background-color: var(--first-dark-color);
  transition: background-color 0.25s ease-in;
}

.color-dark .bg-trd {
  background-color: var(--second-dark-color);
  transition: background-color 0.25s ease-in;
}

.color-dark .bg-snd-dark {
  background-color: var(--third-light-color);
  transition: background-color 0.25s ease-in;
}

.color-dark .frst-text {
  color: var(--first-text-light-color);
  transition:
    color 0.25s ease-in,
    background-color 0.25s ease-in,
    fill 0.25s ease-in;
}

.color-dark .scnd-text {
  color: var(--second-text-light-color);
  transition:
    color 0.25s ease-in,
    background-color 0.25s ease-in,
    fill 0.25s ease-in;
}

.color-dark .gradiant {
  box-shadow:
    1rem 0rem 0.5rem -0.5rem var(--first-dark-color) inset,
    -1rem 0rem 0.5rem -0.5rem var(--first-dark-color) inset;
  transition: box-shadow 0.25s ease-in;
}

.color-dark .faq {
  fill: var(--first-text-light-color);
}

/* ********** Header ********** */
.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: var(--header-height);

  background-color: var(--first-dark-color);
  color: var(--second-text-light-color);

  @media screen and (min-width: 64em) {
    position: sticky;
    top: 0;
    height: 4rem;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }
}

.head-container {
  display: flex;
  padding: 0.5rem 1rem;
  padding-left: clamp(0.5rem, -5.2895rem + 28.9474vi, 6rem);
  padding-right: clamp(0.5rem, -5.2895rem + 28.9474vi, 6rem);
  justify-content: space-between;
  height: 100%;
  max-width: var(--max-width);

  @media screen and (min-width: 64em) {
    justify-content: space-evenly;

    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-width: 4rem;

  font-size: 0.75rem;
  text-align: center;

  & .menu-btn-img {
    width: 3rem;
    height: 1.75rem;

    & img {
      margin-top: 0.125rem;
      height: 1.5rem;
      width: auto;
    }

    @media screen and (min-width: 64em) {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 4rem;
      height: 80%;

      & img {
        margin-top: 0;
        height: 3rem;
        width: auto;
      }
    }
  }

  &:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.75rem var(--first-light-color));
  }

  @media screen and (min-width: 64em) {
    flex-direction: row;

    padding: 0 0.5rem;
    gap: 0.5rem;

    font-size: 1rem;
  }
}

.active-page .menu-btn-img {
  background-color: var(--second-dark-color);
  border-radius: 0.75rem;
}

.active-page:hover .menu-btn-img {
  background-color: transparent;
}

/* ********** Container ********** */
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;

  min-height: calc(100dvh - var(--header-height) - 2rem);

  @media screen and (min-width: 39em) {
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @media screen and (min-width: 44em) {
    gap: 2rem;
    padding: 2rem;
  }

  @media screen and (min-width: 64em) {
    padding: 2rem 0;
    min-height: calc(100dvh - 4rem - 2rem);
  }
}

/* ***** Content parameters & Content info ***** */

.content-parameters,
.content-parameters-user,
.content-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-radius: 0.5rem;
  padding: 1rem;

  @media screen and (min-width: 39em) {
    width: calc(50% - 0.5rem);
    height: calc(100dvh - var(--header-height) - 4rem - 2rem);
  }

  @media screen and (min-width: 44em) {
    width: calc(50% - 1rem);
  }

  @media screen and (min-width: 64em) {
    height: calc(100dvh - 4rem - 4rem - 2rem);
  }
}

.content-settings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  border-radius: 0.5rem;

  width: 100%;
  height: fit-content;

  @media screen and (min-width: 39em) {
    flex-direction: row;
  }
}

.content-parameters-user {
  padding: 0;
}

.content-info {
  border-radius: 0;
  padding: 0;
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @media screen and (min-width: 39em) {
    overflow-y: scroll;
    scrollbar-width: none;
  }
}

@media screen and (min-width: 39em) {
  .user-materials-container {
    overflow-y: scroll;
    scrollbar-width: none;
  }
}

.user-materials-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
}

/* ********** Filters ********** */
.filter-element,
.filter-weapon,
.filter-quality,
.filter-items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  margin-top: 0.5rem;
}

.filter-checkbox {
  display: none;

  &:checked + .filter-label {
    border: thin solid var(--first-light-color);
    font-weight: 500;
  }
}

.filter-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 1rem;
  width: auto;
  padding-inline: 1rem;

  border-radius: 0.5rem;
  font-size: 0.75rem;

  &:hover {
    cursor: pointer;
    box-shadow: 0rem 0rem 0.25rem var(--first-light-color);
  }
}

/* ********** Section items ********** */
.section-items {
  position: relative;
  @media screen and (min-width: 39em) {
    overflow-y: scroll;
    overlay: auto;
    scrollbar-width: none;
    width: calc(100% + 1rem);
    padding-right: 1rem;
    scrollbar-width: thin;
  }
}

@media screen and (min-width: 39em) {
  .section-items-mz {
    padding-right: 0.5rem;
  }
  .section-items-dsk {
    padding-right: 0.375rem;
  }
}

/* ********** Cards ********** */
.cards-container {
  display: grid;
  column-gap: 0.5rem;
  grid-auto-flow: column;

  overflow-x: scroll;
  scrollbar-width: none;

  position: relative;
  left: -1rem;
  padding-inline: 1rem;

  width: calc(100dvw - 2rem);

  @media screen and (min-width: 39em) {
    position: static;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 5rem);
    justify-content: center;
    row-gap: 1rem;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    overflow-x: hidden;
  }

  @media screen and (min-width: 44em) {
    column-gap: 1rem;
  }

  transition: gap 0.25s ease-in;
}

/* ***** Card ***** */
.card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--third-light-color);
  width: 5rem;
  height: 6rem;
  border-radius: 0.25rem;

  & .card-name {
    max-width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  & .card-bg {
    border-radius: 0.25rem 0.25rem 1rem 0;
    width: 5rem;
    height: 5rem;
  }

  & img {
    width: 5rem;
    height: auto;
    border-radius: 0.25rem 0.25rem 1rem 0;
  }
}

.card:hover {
  cursor: pointer;

  & .card-bg {
    overflow: hidden;
  }

  & .card-img {
    transform: scale(1.025);
    filter: drop-shadow(0rem 0rem 0.5rem var(--first-light-color));
  }
}

.card-bg,
.item-bg {
  background-size: 95%, auto;
  background-repeat: no-repeat;
  background-position: center;
}

.items-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  background-color: var(--third-light-color);
  width: 4rem;
  height: 5rem;
  border-radius: 0.25rem;

  & .card-name {
    max-width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  & .item-bg {
    border-radius: 0.25rem 0.25rem 1rem 0;
    width: 4rem;
    height: 4rem;
  }

  & .item-bg img {
    width: 4rem;
    height: auto;
    border-radius: 0.25rem 0.25rem 1rem 0;
  }

  & button {
    position: absolute;
    top: 0rem;
    right: 0rem;
  }
}

.five {
  background-image:
    url(../assets/blend-icon.svg),
    linear-gradient(180deg, var(--gold-dark-color), var(--gold-light-color));
}

.four {
  background-image:
    url(../assets/blend-icon.svg),
    linear-gradient(180deg, var(--purple-dark-color), var(--purple-light-color));
}

.three {
  background-image:
    url(../assets/blend-icon.svg),
    linear-gradient(180deg, var(--blue-dark-color), var(--blue-light-color));
}

.two {
  background-image:
    url(../assets/blend-icon.svg),
    linear-gradient(180deg, var(--green-dark-color), var(--green-light-color));
}

.one {
  background-image:
    url(../assets/blend-icon.svg),
    linear-gradient(180deg, var(--gray-dark-color), var(--gray-light-color));
}

.colab {
  background-image:
    url(../assets/blend-icon.svg),
    linear-gradient(180deg, var(--colab-dark-color), var(--colab-light-color));
}

.birth {
  background-image:
    url(../assets/blend-icon.svg),
    linear-gradient(135deg, #b5b5dd, #c5e9f0, #f7f4c8, #f7cabc, #e8acca);
}

/* ***** Gradiant ***** */
.gradiant {
  position: absolute;
  top: 0;
  left: -1rem;
  width: calc(100% + 2rem);
  height: 6rem;

  pointer-events: none;

  box-shadow:
    1rem 0rem 0.5rem -0.5rem var(--second-light-color) inset,
    -1rem 0rem 0.5rem -0.5rem var(--second-light-color) inset;

  transition: box-shadow 0.25s ease-in;

  @media screen and (min-width: 39em) {
    display: none;
  }
}

/* ********** Content results ********** */

/* ********** Card Total & Individual********** */

.card-total,
.card-total-personal,
.card-individual,
.card-user-info,
.card-user-total,
.card-simple {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 1rem;
}

@media screen and (min-width: 39em) {
  .card-simple {
    width: calc(50% - 0.5rem);
  }
}

@media screen and (min-width: 56.25em) {
  .card-simple {
    width: calc(33.3333333333% - 0.6666666666rem);
  }
}

.card-individual {
  margin-top: 0.5rem;
}

.elements-container,
.extra-container,
.calcs-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-individual,
.card-total,
.card-total-personal,
.user-materials-container {
  max-height: 16rem;
}

@media screen and (min-width: 39em) {
  .user-materials-container {
    max-height: none !important;

    & .btn-expand-container,
    .btn-collapse-container {
      display: none;
    }
  }
}

.card-user-info,
.card-user-total {
  margin-top: 0;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
}

@media screen and (min-width: 39em) {
  .content-info > .total-container,
  .content-info > .excess-container {
    overflow-y: hidden;
  }

  .content-info > .total-container {
    max-height: 50%;
    min-height: 7rem;
  }

  .content-info > .excess-container {
    flex: 1;
  }

  .card-total-personal {
    max-height: 100% !important;
  }

  .card-total-personal .buttons-element {
    display: none;
  }
}

.nothing-here {
  height: 2rem;
  width: auto;
  margin: auto;
}

.scroll-active {
  width: calc(100% + 1rem);
  padding-right: 1rem;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.scroll-active-dsk {
  padding-right: 0.375rem;
}

.scroll-active-mz {
  padding-right: 0.5rem;
}

/* ********** Element info ********** */

.element-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 2rem;

  padding-bottom: 0.5rem;
  border-bottom: 0.0625rem solid var(--first-light-color);

  & h3 {
    max-width: 75%;
    line-height: 1.5rem;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.element-info,
.element-data,
.element-props,
.element-days,
.element-count,
.element-owned-info {
  display: flex;
}

.element-info,
.element-props,
.element-count,
.element-owned-info {
  justify-content: space-between;
}

.element-info,
.element-owned-info {
  max-height: 2.5rem;
}

.element-data {
  width: 75%;
  gap: 0.5rem;
}

.element-img {
  width: 2.5rem;
  height: 2.5rem;

  background-color: var(--first-light-color);
  border-radius: 2.5rem;

  & img {
    height: 100%;
  }
}

.element-props {
  flex-direction: column;
  max-width: calc(100% - 3rem);

  & h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.element-days {
  gap: 0.15rem;
}

.element-count {
  max-width: 25%;
  flex-direction: column;
  text-align: right;
  align-items: end;
}

/* ***** Faq ***** */

.faq {
  height: 0.6875rem;
  width: 0.6875rem;
  fill: var(--first-text-dark-color);
  cursor: pointer;
}

.header-faq {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-faq .faq {
  height: 0.8125rem;
  width: 0.8125rem;
}

/* ********** Edit & Delete Buttons ********* */
.buttons-element {
  display: flex;
  gap: 1rem;
}

.btn-element,
.btn-element-owned,
.btn-element-info,
.btn-element-profit {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: 1.5rem;
  height: 1.5rem;

  border: 0.0625rem solid var(--first-light-color);
  border-radius: 0.5rem;
  background-color: var(--second-dark-color);

  cursor: pointer;
}

.btn-element-owned,
.btn-element-info,
.btn-element-profit {
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
}

.btn-edit {
  width: 0.75rem;
}

.btn-edit-owned,
.btn-edit-info,
.btn-edit-profit {
  width: 0.5rem;
}

.btn-delete {
  height: 0.75rem;
}

.btn-expand {
  width: 1rem;
}

.btn-collapse {
  width: 0.85rem;
}

.btn-plus {
  width: 0.75rem;
}

/* ********** Selected Items ********* */

.selected-container {
  position: relative;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 1.5rem;
  margin-top: 0.5rem;
}

.selected-items {
  border: none;
  appearance: none;

  width: 100%;
  padding: 0.1875rem 0.5rem;
  border-radius: 0.5rem;

  font-family: inherit;
  font-size: 0.75rem;

  cursor: pointer;
}

.container-selected-icon {
  width: 0.8125rem;
  height: 100%;
  position: absolute;
  right: 0.5rem;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.selected-items-icon {
  width: 0.8125rem;
  height: 0.8125rem;
  clip-path: polygon(100% 6.69%, 0 6.69%, 50% 93.3%);
  background-color: var(--first-light-color);
}

/* ********** Footer ********* */

.footer {
  display: flex;

  align-items: center;
  justify-content: center;

  text-align: center;

  margin-bottom: var(--header-height);

  width: 100%;
  height: 2rem;

  border-bottom: 0.03125rem solid var(--second-light-color);

  @media screen and (min-width: 64em) {
    margin: 0;
    border-bottom: none;
  }
}

/* ********** Modal ********** */
.btn-modal {
  height: 2rem;
}

.modal-container,
.modal-container-materials {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);

  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.25s ease-in,
    visibility 0.25s ease-in;
}

.modal-container-materials {
  align-items: start;
}

.modal-weapon,
.modal-character,
.modal-info,
.modal-item-holder {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 18rem;
  border-radius: 0.5rem;
}

.modal-item-holder {
  margin-top: 10dvh;
}

.modal-character {
  width: calc(100dvw - 2rem);
}

/* Modal weapons */
.level-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  border: 0.125rem solid var(--first-light-color);
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}

.another-container {
  display: flex;
  justify-content: space-between;
  width: 14rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 0.5rem;

  p {
    font-weight: bold;
    font-size: 0.85rem;
  }
}

.add-btn {
  padding: 0;
  margin: 0;
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--first-light-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.25rem var(--first-light-color));
}

/* Modal levels */
.nmb-list-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  & input[type="checkbox"] {
    display: none;
  }

  & label {
    height: 1rem;
    font-size: 1.3rem;
    text-align: center;
    color: var(--first-light-color-alpha50);
    cursor: pointer;
  }
}

.nmb-list-container label:hover {
  text-shadow: 0 0 0.25rem var(--first-light-color);
}

.nmb-list-container input:checked + label {
  color: var(--first-light-color);
}

.opaqued {
  opacity: 0.5;
  pointer-events: none;
}

.visible {
  opacity: 1;
  pointer-events: all;
}

.level-content {
  width: 12rem;
  height: 3rem;
  border-radius: 0.5rem;

  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.talent-container,
.level-container,
.level-info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.level-info-container {
  align-items: center;
}

/* level form */
.level-form,
.weapon-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

@media screen and (min-width: 44em) {
  .level-form,
  .weapon-form {
    flex-direction: column;
    padding: 0;
    gap: 1rem;
    justify-content: center;
    height: 100%;
  }

  .weapon-form {
    height: inherit;
  }
}

/* Modal talents */
.modal-info,
.modal-item-holder {
  flex-direction: column;
}

.modal-img {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.modal-img .card-bg {
  width: 5rem;
  height: 5rem;
  border-radius: 0.25rem;
}

.modal-img img {
  width: 5rem;
  height: auto;
  border-radius: 0.25rem;
}

.character-properties {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.modal-interaction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-character {
  display: block;
  @media screen and (min-width: 39em) {
    width: 25rem;
  }
}

.modal-weapon {
  display: block;
  @media screen and (min-width: 39em) {
    width: 22rem;
  }
}

@media screen and (min-width: 44em) {
  .modal-character {
    width: auto;
  }
  .modal-weapon {
    width: auto;
  }
  .modal-img {
    margin-bottom: 2rem;
  }
  .modal-interaction {
    width: auto;
    flex-direction: unset;
    gap: 2rem;
  }
}

.talent-info {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  @media screen and (min-width: 44em) {
    width: clamp(16rem, 7.2rem + 20vw, 20rem);
  }
}

.talent-selector {
  display: flex;
  padding: 0 0.5rem;
  justify-content: space-between;
  border-radius: 0.5rem;
  height: 3.5rem;
  width: calc(100% - 1.5rem);
}

.talent-selector-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.talent-data {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  overflow: hidden;
  margin-right: 0.5rem;

  & p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;

    text-overflow: ellipsis ellipsis;
    overflow: hidden;

    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

.talent-img {
  background-color: var(--first-complementary-color);
  border-radius: 50%;
  min-width: 2.5rem;
  height: 2.5rem;
  & img {
    width: 100%;
    height: 100%;
  }
}

.talent-lvl {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* Modal Info */
.modal-info,
.modal-item-holder {
  max-width: 18rem;
  border-radius: 0.5rem;
}

.modal-item-holder {
  max-width: clamp(18rem, 11.8636rem + 30.6818dvw, 31.5rem);
  width: clamp(18rem, 11.8636rem + 30.6818dvw, 31.5rem);
}

.info-title {
  line-height: 1.25;
  font-weight: bold;
}

.info-paragraph {
  line-height: 1.25;
}

.info-form {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

/* Modal Edit Quantity */
.edit-owned-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;

  & figure {
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    background-color: var(--first-light-color);
  }

  & img {
    height: 4rem;
    width: auto;
  }
}

.number-pick-container {
  display: flex;
  justify-content: center;
}

.number-picker {
  background-color: inherit;
  margin: none;
  border: 0.0625rem solid var(--first-light-color);
  border-radius: 0.5rem;
  width: 85%;
  padding: 0.255rem 0.5rem;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
}

/* Modal Show Possible Items */

.add-item,
.add-item-figure {
  cursor: pointer;
}

.modal-item-holder {
  max-height: 80dvh;
}

.items-container-user,
.card-user-amount {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, 4rem);
  justify-content: center;
  gap: 1rem;
}

/* User Info */

.user-data p {
  display: inline;
}

.user-data .faq-container {
  display: inline-flex;
}

.user-parameter-header {
  display: flex;
  justify-content: space-between;

  & h5 {
    max-width: 85%;
  }
}

.info-options {
  margin: none;
  border: 0.0625rem solid var(--first-light-color);
  border-radius: 0.5rem;
  width: 80%;
  padding: 0.255rem 0.5rem;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  cursor: pointer;

  & option {
    background-color: inherit;
    color: inherit;
  }
}

/* Tooltip */

.faq-container {
  display: inline-flex;
  align-items: start;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  line-height: 1rem;
  z-index: 500;
  text-align: center;
  color: #fff;
  font-size: 0.8125rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  width: 60dvw;
  left: 20dvw;
  bottom: calc(var(--header-height) + 1rem);
  transition:
    opacity 0.25s ease-in,
    visibility 0.25s ease-in,
    transform 0.25s ease-in;

  @media screen and (min-width: 39em) {
    width: 30dvw;
    left: 35dvw;
    bottom: calc(var(--header-height) + 1.5rem);
  }

  @media screen and (min-width: 64em) {
    width: 20dvw;
    left: 40dvw;
    bottom: auto;
    top: var(--header-height);
  }
}

.faq-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateY(-1rem);

  @media screen and (min-width: 64em) {
    transform: translateY(1rem);
  }
}

.description-txt {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Custom inputs */
.custom-checkbox {
  display: flex;
  align-items: center;

  height: 1rem;

  position: relative;

  justify-content: flex-start;

  & input[type="checkbox"],
  & input[type="radio"] {
    position: absolute;
    opacity: 0;
    margin: 0;
    right: 0;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    z-index: 1000;
  }

  & label {
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8125rem;
  }
}

.custom-checkbox-btn,
.custom-radio-btn {
  position: absolute;
  right: 0;

  display: inline-block;
  height: 1rem;
  width: 1rem;
  border: 0.0625rem solid var(--first-light-color);
  border-radius: 0.25rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.custom-radio-btn {
  border-radius: 0.5rem;
}

.custom-checkbox input:checked ~ .custom-checkbox-btn div {
  background-color: var(--first-light-color);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.375rem;
}

.custom-checkbox input:checked ~ .custom-radio-btn div {
  background-color: var(--first-light-color);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.375rem;
}

.nmb-list {
  border: none;
  width: 2rem;
  height: 1rem;
  appearance: none;

  padding: 0;
  font-weight: bold;
  text-align: center;
  font-size: 0.75rem;

  cursor: pointer;

  border-top: 0.0625rem solid var(--first-light-color);
  border-bottom: 0.0625rem solid var(--first-light-color);
  background-color: inherit;
}

/* Custom buttons */

.btn-bordered,
.btn {
  margin: 0;
  padding-block: 0;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  color: var(--first-light-color);
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.btn-bordered {
  background-color: transparent;
  border: 0.0625rem solid var(--first-light-color);
}

.btn {
  border: 0;
}

.btn:hover,
.btn-bordered:hover {
  box-shadow: 0rem 0rem 0.25rem var(--first-light-color);
}

/* Setting section */

.simple-form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;

  & .custom-checkbox {
    width: calc(33.3333333333%);
  }

  & label {
    font-size: 1rem;
  }
}

.card-simple .simple-container {
  display: flex;
  height: 100%;
  justify-content: center;
}

.file-input {
  display: none;
  visibility: hidden;
  opacity: 0;
}

select#language {
  font-weight: bold;
  width: 60%;
}

/* ********** Confetti Card ********** */
.confeti {
  position: absolute;
}

/* *********** Notification *********** */
.notification-container {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: calc(var(--header-height) + 1.5rem);
  width: 100dvw;

  display: flex;
  justify-content: center;

  transition:
    opacity 0.25s ease-in,
    visibility 0.25s ease-in,
    transform 0.25s ease-in;

  @media screen and (min-width: 39em) {
    bottom: calc(var(--header-height) + 1.5rem);
  }

  @media screen and (min-width: 64em) {
    bottom: auto;
    top: var(--header-height);
  }
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 4rem;
  padding: 0 1rem;

  background-color: var(--third-dark-color);
  border-radius: 0.5rem;
  font-weight: bold;
  color: var(--first-light-color);

  & img {
    height: 90%;
    width: auto;
  }
}

.transition {
  visibility: visible;
  opacity: 1;
  transform: translateY(-1rem);

  @media screen and (min-width: 64em) {
    transform: translateY(1rem);
  }
}

/* *********** Loader *********** */
.loader-container {
  visibility: visible;
  position: absolute;
  top: calc(50dvh - 1.5625rem);
  left: calc(50dvw - 1.5625rem);
  transform: scale(1.5);
  transition: opacity 0.15s ease-out;
}

.loader-container img {
  position: absolute;
  top: 0.5rem;
  right: 0.55rem;
  width: 2rem;
  height: auto;
}

/* Thanks for the loader, css-loaders.com */

.loader {
  width: 3.125rem;
  aspect-ratio: 1;
  box-shadow: 0 0 0 0.1875rem var(--first-light-color) inset;
  border-radius: 50%;
  position: relative;
  animation: l11 7s infinite;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: calc(100% + 0.1875rem);
  left: calc(50% - 0.78125rem);
  box-shadow: inherit;
  width: 1.5625rem;
  aspect-ratio: 1;
  border-radius: 50%;
  transform-origin: 50% -1.75rem;
  animation: l11 1.5s infinite;
}
.loader:after {
  animation-delay: -0.75s;
}
@keyframes l11 {
  100% {
    transform: rotate(360deg);
  }
}
/* ********** Dark auto mode ********** */

@media screen and (prefers-color-scheme: dark) {
  .color-os .bg-fst {
    background-color: var(--first-light-color);
  }

  .color-os .bg-snd {
    background-color: var(--first-dark-color);
  }

  .color-os .bg-trd {
    background-color: var(--second-dark-color);
  }

  .color-os .bg-snd-dark {
    background-color: var(--third-light-color);
  }

  .color-os .frst-text {
    color: var(--first-text-light-color);
  }

  .color-os .scnd-text {
    color: var(--second-text-light-color);
  }

  .color-os .gradiant {
    box-shadow:
      1rem 0rem 0.5rem -0.5rem var(--first-dark-color) inset,
      -1rem 0rem 0.5rem -0.5rem var(--first-dark-color) inset;
  }

  .color-os .faq {
    fill: var(--first-text-light-color);
  }
}
